{
  "extends": [
    // "plugin:jsx-a11y/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
    // This disables the formatting rules in ESLint that Prettier is going to be responsible for handling.
    // Make sure it's always the last config, so it gets the chance to override other configs.
    //"eslint-config-prettier"
  ],
  "settings": {
    "react": {
      // Tells eslint-plugin-react to automatically detect the version of React to use.
      "version": "detect"
    },
    // Tells eslint how to resolve imports
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js", ".jsx", ".ts", ".tsx"
        ]
      }
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "parserOptions": {
    "project": ["tsconfig.json"]
  }
}
